<IfModule mod_rewrite.c>
#Header set Access-Control-Allow-Origin "*"
RewriteEngine on
RewriteBase /quanlybanhang/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$    /quanlybanhang/index.php/$2/?page=$1   [L]
</IfModule>